* {
    box-sizing: border-box;
}
  
body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Main {
  position: relative;
  display: flex;
  flex: 1;
}
.Main-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.Logo {
  margin-bottom: 5em;
  line-height: 1em;
  font-size: 5vw;
}

.Logo-text {
  display: block;
  text-align: center;
  margin: 1em 0;
  font-weight: 400;
  font-size: 1em;
}

.Logo-text[tabIndex] {
  opacity: 0.05;
}
.Logo-text[tabIndex]:focus,
.Logo-text[tabIndex]:hover {
  opacity: 1;
  outline: 0;
}

.Logo--dokidob {
  position: relative;
  padding: 0 0.25em 0.1em;
  line-height: 1em;
  font-size: 10vw;
  letter-spacing: 0.05em;
  /* background-color: rgba(255, 255, 255, 1); */
}

.Logo--dokidob::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: #000;
  transform: skew(-7deg, -1.25deg);
}
.Logo--dokidob .Logo-text {
  position: relative;
  color: #fff;
  font-family: "East Sea Dokdo", sans-serif;
  margin: 0;
}


.Logo--dokido {
  font-size: 10vw;
  font-family: "East Sea Dokdo", sans-serif;
}

.Logo--Raleway {
  font-family: "Raleway", sans-serif;
}

.Logo--ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.Logo--ubuntucon {
  font-family: "Ubuntu Condensed", sans-serif;
}

.Logo--jose {
  font-family: "Josefin Sans", sans-serif;
}

.Logo--indie {
  font-family: "Indie Flower", sans-serif;
  letter-spacing: 0.05em;
}
@media only screen and (max-width: 620px) {
  .Logo--indie {
    font-size: 31px;
  }
}
@media only screen and (min-width: 980px) {
  .Logo--indie {
    font-size: 49px;
  }
}
